<div class="row">
    <div class="col-md-4">


        <%= image_tag @destination.destination_img.url(:destination_show), class: "destination-show" %>
        <h4><%= @destination.country %></h4>
        <h5>Category: <%= @destination.category.name %></h5>
    
    </div> 
    
    <div class="col-md-8">
        <h1><%= @destination.name %></h1>
        <p><%= @destination.description %></p>

        <% if redactor_signed_in? %>
            <% if @destination.redactor_id == current_redactor.id %>
                <%= link_to "Edit", edit_destination_path(@destination) %>
                <%= link_to "Delete", destination_path(@destination), method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>    
        <% end %>                
                    
        <%= link_to "Go Back", root_path %>
    
    </div>
    
</div>    


<div class="row">
    <div class="col-md-4">
        
        
        
        <h3>Average Redactor's Rating</h3>    
        <div class="average-rating-rating" data-score=<%= @average_rating %>>
            
        </div>
        
        <h3>Reviews</h3>
        <%= render @destination.ratings %>
            
        <br>
        <div>
            <% if redactor_signed_in? %>
                <%= link_to "Add Rating", new_destination_rating_path(@destination) %>
            <% else %>
                <p> You should <%=  link_to "Log In", new_redactor_session_path %> or <%= link_to "Sign Up", new_redactor_registration_path %> to have ability to add new rating! </p>
            <% end %>
        </div>
        
    </div>
</div>            
        
        
<script>
	$('.rating-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>

<script>
	$('.average-rating-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>